:root {
  --var-bg-color: #00154f;
  --var-letter-color: #f4af1b;
  --var-input-color: #f2bc94;
  --var-hover-color: rgb(31, 61, 143);
  --font-title: "Montserrat", sans-serif;
  --font-text: "Krona One", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--var-bg-color);
  color: var(--var-letter-color);
}

header {
  background-color: var(--var-bg-color);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 50px;
  height: 50px;
}

nav a {
  color: var(--var-letter-color);
  margin: 0 10px;
  text-decoration: none;
  font-family: var(--font-title);
}

nav a:hover {
  color: var(--var-input-color);
}

input[type="text"] {
  padding: 5px;
  background-color: var(--var-letter-color);
  border: none;
}

button {
  padding: 5px 10px;
  background-color: var(--var-hover-color);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--var-letter-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

/* Sidebar */
main nav {
  flex: 1;
}

main nav ul {
  list-style-type: none;
  padding: 0;
}

main nav ul li {
  margin: 10px 0;
}

main nav ul li a {
  color: var(--var-bg-color);
  text-decoration: none;
}

main nav ul li a:hover {
  color: var(--var-hover-color);
}


.menu_lateral{
    background-color: var(--var-letter-color);
    color: var(--var-bg-color);
}
.menu_lateral li a:hover{
  color: #f2bc94;
}

.updates {
    background-color: var(--var-letter-color);
    color: var(--var-bg-color);
}

.logo {
  width: 100px;
  height: 100px;
}

.login {
  width: 100px;
  height: 100px;
}

/* Carousel */

.galery {
  width: 600px;
  height: 300px;
  overflow: hidden;
  border: 1px solid red;
}

.galery .photos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .photos img {
  width: 19.9%;
}

/* Right Column */
.updates {
  flex: 1;
}

.updates h3 {
  font-family: var(--font-title);
}

.updates ul {
  list-style-type: none;
  padding: 0;
}

.updates ul li {
  margin: 10px 0;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: var(--var-letter-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .icon-img{
    height: 30px;
    width: 30px;
    padding: 10px 100px 10px 0px;
}


