:root {
  --var-bg-color: #00154f;
  --var-letter-color: #f4af1b;
  --var-input-color: #f2bc94;
  --var-hover-color: rgb(31, 61, 143);
  --font-title: "Montserrat", sans-serif;
  --font-text: "Krona One", sans-serif;
}
/* Cabeçalho */
header {
  background-color: var(--var-letter-color);
  padding: 10px;
  width: 1305px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: var(--var-bg-color);
  margin: 0 10px;
  text-decoration: none;
  font-family: var(--font-title);
}

.navbar a:hover {
  color: var(--var-hover-color);
}


.search-inpt {
  padding: 5px;
  background-color: var(--var-letter-color);
}

.search-btn {
  padding: 5px 10px;
  background-color: var(--var-bg-color);
  color: white;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  background-color: var(--var-hover-color);
}

ul.principal {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
}

.lnk {
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 16px; 
  color: white; 
  background-color: var(--var-bg-color); 
  border: none; 
  border-radius: 5px; 
  text-align: center; 
  text-decoration: none; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  cursor: pointer; 
}
.lnk:hover {
  background-color: var(--var-hover-color);
}

li.emLinha {
  display: inline;
  margin: 0 16px 0 0;
}

li.emLinha:last-child {
  margin: 0;
}

li.emLinha a {
  color: var(--var-letter-color);
  text-decoration: none;
  transition: color 0.3s;
}

li.emLinha a:hover {
  color: var(--var-letter-color);
  transition: color 0.3s;
}

li.emLinha a span {
  color: var(--var-letter-color);
  font-size: 14px;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

li.emLinha:hover a span {
  transform: rotate(-180deg);
  transition: transform 0.3s;
}

ul.oculto {
  visibility: hidden;
  position: absolute;
  background: var(--var-bg-color);
  border: solid 1px #000;
  border-radius: 5px;
  list-style: none;
  padding: 5px 10px;
  margin-left: 180px;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

ul.oculto li {
  padding: 5px 0;
}

ul.oculto a {
  color: var(--var-letter-color);
}

li.emLinha:hover ul.oculto {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.2s;
}

.logo {
  width: 150px;
  height: 150px;
}

.login {
  width: 100px;
  height: 100px;
}

/* Main divs */

body {
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--var-bg-color);
  color: var(--var-letter-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 1280px;
  height: 368px;
}

/* Carousel */

.galery {
  width: 600px;
  height: 300px;
  overflow: hidden;
  margin: 30px 0 30px 0;
  border: solid 3px var(--var-bg-color);
  border-radius: 15%;
}

.carrossel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.galery .photos {
  width: 600%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;

}

.galery .photos img {
  width: 600px;
  height: 350px;
  
  
}

/* Right Column */
.right-column {
  width: 320px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--var-letter-color);
  color: var(--var-bg-color);
}

.new {
  text-decoration: none;
  text-size-adjust: 100px;
}

/* Left Column */
.left-column {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 340px;
  background-color: var(--var-letter-color);
  color: var(--var-bg-color);
  
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: var(--var-letter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--var-bg-color);
}

