@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --var-bg-color: #00154f;
  --var-letter-color: #f4af1b;
  --var-input-color: #f2bc94;
  --var-hover-color: rgb(31, 61, 143);
  --font-title: "Montserrat", sans-serif;
  --font-text: "Krona One", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--var-bg-color);
  font-family: var(--font-title);
}

.search {
    background-color: var(--var-bg-color);
}

.main {
  background-color: var(--var-input-color);
}

.logo {
  width: 100px;
  height: 100px;
}

.login {
  width: 100px;
  height: 100px;
}

.galery {
  width: 600px;
  height: 300px;
  overflow: hidden;
  border: 1px solid red;

}

.galery .photos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .photos img {
  width: 19.9%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--var-bg-color);
}

.icon-img {
  width: 35px;
  height: 35px;
  padding: 15px;

}

.menu {
  background-color: var(--var-letter-color);
  list-style: none;
  border: 1px solid #c0c0c0;
  /* float: left; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  width: 100%;
  height: 300px;
  font-size: 25px;
}


.menu li {
  position: relative;
  /* float: left; */
  width: 100%;
  height: 100%;
  border: solid 1px var(--var-input-color);
}

.menu li a {
  color: var(--var-menu-font-color);
  text-decoration: none;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  
}

.menu li a:hover {
  background: var(--var-bg-color);
  color: var(--var-input-color);
  -moz-box-shadow: 0 3px 10px 0 #ccc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  position: relative;
  background-color: var(--var-letter-color);
  display: none;
  border: solid 1px var(--var-input-color);
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  display: block;
}
