:root {
  --var-bg-color: grey;
  --var-font-color: purple;
  --var-menu-font-color: purple;
  --var-menu-color: green;
}

* {
  background-color: var(--var-bg-color);
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.logo {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.login {
  width: 50px;
  height: 50px;
  border: 1px solid red;
}

.menu {
  list-style: none;
  border: 1px solid #c0c0c0;
  float: left;
}

.menu li {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
}

.menu li a {
  color: var(--var-menu-font-color);
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover {
  background: var(--var-menu-color);
  color: #fff;
  -moz-box-shadow: 0 3px 10px 0 #ccc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  border: 1px solid #c0c0c0;
  display: block;
  width: 150px;
}

.main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.aux {
  border: 1px solid red;
  width: 10%;
}

.galery {
  width: 640px;
  height: 360px;
  overflow: hidden;
}

.galery .photos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .photos img {
  width: 19.9%;
}